p.intro {
    font-size: 1.3em;
}
h2.intro {
    font-size: 3.2em!important;
}
#intro footer {
    margin-top: 1em!important;
}

/* Иконка "гамбургер" */
#hamburger-icon {
    display: none;
    font-size: 1.6em;
    cursor: pointer;
    position: absolute;
    left: 0.5em;
    top: 0em;
}

#menu-popup {
    display: none;
}

/* Скрытие меню на мобильных устройствах */
@media screen and (max-width: 736px) {
  #hamburger-icon {
    display: block;
  }

  /* #menu-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 1000;
  } */

  .language-switcher {
    color: #374852;
    font-weight: 900;
  }
  
  #menu-popup ul {
    list-style: none;
    padding: 0;
  }
}



/* Контейнер стрелок */
#left-arrow, #right-arrow {
    display: none;
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1001;
}

/* Позиционирование стрелок */
#left-arrow {
    left: 50px;
}

#right-arrow {
    right: 10px;
}

/* Горизонтальная прокрутка для меню */
#menu-items {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* для Firefox */
    -ms-overflow-style: none; /* для IE и Edge */
    scroll-behavior: smooth; /* Плавная прокрутка */
}

/* Скрыть полосу прокрутки */
#menu-items::-webkit-scrollbar {
    display: none;
}

/* Показ стрелок на мобильных устройствах */
@media screen and (max-width: 736px) {
    #left-arrow, #right-arrow {
        display: block;
    }
    
    #menu-popup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
        width: 90%;
        padding: 10px;
        color: white;
        background: rgba(0, 0, 0, 0.8);
    }

    #menu-popup li{
        width: 100%;
    }
       
    .language-switcher {
        min-width: 28px;
    }
}

/* Заголовки с гиперссылкой */
.header-link a {
    position: relative;
    color: #6691bc;
    transition: color 0.3s ease;
}
.header-link {
    color: #6691bc;
}

.header-link a:hover {
    color: #0c4074;
}


/* Кастомная подсказка (если нужен собственный стиль вместо title) */

.tooltip a[data-tooltip]:hover::after {
    content: attr(data-tooltip); /* Используем текст из атрибута */
    position: absolute;
    top: 100%; /* Под ссылкой */
    left: 50%; /* Центрируем по горизонтали */
    /* transform: translateX(-50%); */
    /* background-color: #797f83; */
    background-color: #98c593;
    color: #fff; /* Белый текст */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px; /* Сглаженные углы */
    white-space: nowrap; /* Отключаем перенос текста */
    font-size: 20px; /* Читаемый размер текста */
    margin-top: 5px; /* Отступ от ссылки */
    opacity: 1; /* Полностью видимый при наведении */
    visibility: visible;
    transition: opacity 0.2s ease; /* Плавное появление */
    z-index: 1000; /* Выводим поверх других элементов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Легкая тень для подсказки */
    letter-spacing: +0.05em;
    font-weight: 500;
}

.tooltip a[data-tooltip]::after {
    opacity: 0;
    visibility: hidden;
}

/* Алерты */
.alert.alert-success {
    background-color: #98c593;
    color: #fff;
    white-space: nowrap;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}